body {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

ul {
    text-align: left;
    font-weight: bold;
}

li {
    text-align: left;
    font-weight: normal;
}
